@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
.title {
	font-size: 30px;
	font-family:'Poppins', sans-serif;
	text-align: center;
	margin-top: 20px;
	line-height: normal;
	text-transform: uppercase;
	color: #646681;
	background-color: #f8f8ff;

	

}
